body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#product-overview{
    background: #ff1b68;
    width: 700px;
    height: 100%; /*상위요소(여기선 main)의 height에 따라 길이가 변화*/
}
.section-title{
    color: #2ddf5c;
}
#product-overview h1{
    color: white;
    font-family: 'Anton', sans-serif;
    margin: 1.5rem;
}
main{
    height: 100px;
}
/* h1{
    font-family: sans-serif;
} */
